<!--The content below is only a placeholder and can be replaced.-->
<header id="header">
<nav id="nav-bar" class="navbar navbar-expand-lg">
  <h4>
    <a href="#"  class="">
      <span id="header-img" class="glyphicon glyphicon-music"></span>
      Music
    </a>

  </h4>
  <ul>
    <li class="nav-link">
      <a href="">Features</a></li>
    <li class="nav-link">
      <a href="#howItWorks">How it works</a>
    </li>
    <li class="nav-link">
    <a href="#Plans">Plans</a>
  </li>

  </ul>
</nav>
</header>
<div class="top-cont position-relative container">
  <h3 class="title">A Music Plan for All</h3>
  <div class=" row justify-content-center">
    <div class="card mt-sm-3 col-md-8">
      <div class="card-body">
        <div class="form-group ">
          Sign up is just an email away:
          <div class="form-label"
          *ngIf="email">
            <strong>Email: {{ email }}</strong>
          </div>
          <form id="form" action="">
            <input
            placeholder="Enter your email ..."
            class="form-control mt-2" type="email"
            name="email"
            [(ngModel)]="email">
            <input
            class="btn btn-primary"
            type="submit"
            value="Get Started">


          </form>


        </div><!-- form-group -->
      </div><!-- card-body -->
    </div><!-- card -->
  </div><!-- row -->
</div>

<div class=" perks-cont position-relative container ">
  <div class="row perk-row"
  *ngFor="let perk of perks"
  (click)='selectPlan($event,perk)'>

    <div class="mt-4 mb-4 col-sm-12 col-offset-2">
      <div class="perk-title">
        <span class="{{perk.icon}} mr-2"></span>
        {{perk.title}}
       </div>
      <p class="perk-feature ml-3">{{perk.feature}}</p>
    </div>

  </div>
</div>

<!-- embedded video portion -->
<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/diLp6hUqvVk" frameborder="0" allow="autoplay; encrypted-media"
    align="middle"
   allowfullscreen></iframe>

</div>
<!--Plan Card Section   -->
  <div class="mt-4 plan-cont">
     <div
     *ngFor="let plan of plans"
     (click)="selectPlan($event, plan)">
      <div class="card text-center card-plan" >
          <div class="">
            <h3 class="card-title">
              {{plan.name}}
            </h3>
            <p class="card-text">
              {{plan.description}}
            </p>
            <a href="#" class="plan-btn btn btn-primary">
              Let's Go
            </a>
          </div>
        </div>
   </div><!-- row -->
</div><!-- container -->
