<!--The content below is only a placeholder and can be replaced.-->
<header id="header">
<nav id="nav-bar" class="navbar navbar-expand-lg">
  <h4>
    <a href="#"  class="">
      <span id="header-img" class="glyphicon glyphicon-music"></span>
      Music
    </a>

  </h4>
  <ul>
    <li class="nav-link">
      <a href="">Features</a></li>
    <li class="nav-link">
      <a href="#howItWorks">How it works</a>
    </li>
    <li class="nav-link">
    <a href="#Plans">Plans</a>
  </li>

  </ul>
</nav>
</header>
<div class="position-relative container">
  <h3 class="">A Music Plan for All</h3>
  <div class="row justify-content-center">
    <div class="card mt-sm-3 col-md-8">
      <div class="card-body">
        <div class="form-group ">
          Sign up is just an email away:
          <div class="form-label"
          *ngIf="email">
            <strong>Email: {{ email }}</strong>
          </div>
          <form id="form" action="">
            <input
            placeholder="Enter your email ..."
            class="form-control mt-2" type="email"
            name="email"
            [(ngModel)]="email">
            <input
            class="btn btn-primary"
            type="submit"
            value="Get Started">


          </form>


        </div><!-- form-group -->
      </div><!-- card-body -->
    </div><!-- card -->
  </div><!-- row -->

<div class=" m-3 perks-cont position-relative container ">
  <div class="row row-perk"
  *ngFor="let perk of perks"
  (click)='selectPlan($event,perk)'>

    <div class="mt-4 col-sm-12">
      <div class="perk-title">
        <span class="{{perk.icon}} mr-2"></span>
        {{perk.title}}
       </div>
      <p class="perk-feature ml-3">{{perk.feature}}</p>
    </div>

  </div>
</div>

</div>
<div class="mt-4 position-absolute container" style="left: 0; z-index:10">
 <div class="row justify-content-center">
   <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
     <div class="plan-cont">
       <a href="#" class=" "
        *ngFor="let plan of plans"
        (click)="selectPlan($event, plan)">

        <div class="card text-center card-plan" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{plan.name}}</h5>
            <p class="card-text">{{plan.description}}</p>
            <a href="#" class="btn btn-primary">Let's Go</a>
          </div>
          </div>
       </a><!-- link -->
     </div><!-- list-group -->
   </div><!-- col -->
 </div><!-- row -->
</div><!-- container -->
