/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

h3{
  text-align: center;

}

a {
  color: #000;
  text-decoration: none;
}

.title{
  font-size: 3em;
}
.list-group-item:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}
#header-img{
  font-size: 1.2em;
  font-weight: 700;
}
/* Nav Bar  */
li.nav-link{
  display: inline;
  font-size: 1.8em;
}
/*Top portion  */
.top-cont{
  height: 250px;
}
/* Sign up email container */
.card-body{
  margin: auto;
}
input[type="email"] {
    max-width: 375px;
    min-width:250px;
    width: 100%;
    padding: 5px;
  }

input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #f1c40f;

  &:hover {
    background-color: orange;
    transition: background-color 1s;
  }
}
ul{
  list-style: none;
}
/* Perks Container  */
@media (min-width: 800px) {
  .perks-cont{
    display: flex;
    height: 350px;

  }

}
@media (max-width:550px) {
  .perks-cont{
    height: 600px;
  }
}
@media (max-width:400px) {
  .perks-cont{
    height: 800px;
  }
}
.perks-cont{

  /* display: flex; */
}
.perk-title{
  font-size: 2.5em;
}
.perk-row{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.perk-feature{
  font-size: 1.5em;
}

/* Plan Cards */
.card-text{
  width:80%;
  font-size: 1.5em;
  margin: 0 auto 30px;
}
.card-plan{
  margin: 20px;
  padding: 40px;
  height:350px;
  position: relative;
}
.plan-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:500px;
}
.plan-btn{
  font-size: 1.5em;
  padding:10px;
}

/*test css  */
.card:hover, .btn:hover{
  /* makes the button hover up 3px */
  transform: translateY(-3px);
  box-shadow: 2px 10px 20px rgba(0,0,0,.5)
}

/* iFrame */
.video{

  transform: translate(0%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: center;
  height: 450px;
}
