/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
h3{
  text-align: center;

}
a {
  color: #000;
  text-decoration: none;
}
.list-group-item:first-child{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}
#header-img{
  margin: 20px;
  font-size: 1.2em;
  font-weight: 700;
}

input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;

  &:hover {
    background-color: orange;
    transition: background-color 1s;
  }
}
